<ion-header>

  <ion-navbar class="toolbar-ws">
    <ion-title>Exercise {{exerciseNum}} <br><span class="subtitle"> Practice {{practiceNum}}</span></ion-title>    
    <ion-buttons end>
      <button ion-button icon-only class="toolbarUser">
        <ion-icon class="user"></ion-icon>
      </button>
    </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content class="ws-bg">

  <div>
    <!--Botón para abrir la información-->    
    <div (click)="txtPractice=!txtPractice" class="viewTxtPractice">Information</div>
    <!--Parrafo descriptivo de la práctica (Superior)-->
    <div class="txt-practice txtPractice" [class.txt-practice-animation]="txtPractice">
    <!--Botón flotante para cerrar la descripción de la práctica-->
    <div class="close-practice" (click)="txtPractice=!txtPractice">
      <ion-icon ios="md-close" md="md-close"></ion-icon>
    </div>
    {{description}}
    </div>
  </div>

  <!--
    EJERCICIO 1 PRACTICA 1
  -->
  <div *ngIf="ex1">
    <div class="bgPlane">
      <img src="assets/img/icon_plane.svg" alt="">
    </div>

    <div class="answersEx1">
      <ul>
        <li *ngFor="let part of  partsPlane; let i = index" class="answersEx1Item">{{i+1 + ".  "}} <span class="color" (click)="wordListEx1(i)">{{part}}</span></li>
      </ul>
    </div>

  </div>
  <!--
    TERMINA EJERCICIO 1 PRACTICA 1
  -->
  

  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    EJERCICIO 2 PRACTICA 1
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <div *ngIf="ex2">
    <ion-slides class="content-figures2" #sliderComprehension [options]="mySlideOptions">

    <ion-slide class="practice-slide">
      <button class="practice-exercise-figure">
        It is an additional paved area beyond the normal end of therunway for aircraft overrunning in an emergency
      </button>
    </ion-slide>

  </ion-slides>

  <div class="words">

    <button class="word" *ngFor="let word of myWords; let i = index">
      <span class="wordInner" id="{{i}}-answer" [class.wordInnerAnimation]="index" (click)="selectAnswer(i, word)">{{word}}</span>
    </button>

  </div>

  </div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    TERMINA EJERCICIO 2 PRACTICA 1
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    EJERCICIO 4 PRACTICA 1
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <div *ngIf="ex4">
  <!--
    SLIDES PARA ACOMODAR FICHAS
  -->
  <ion-slides class="content-figures" #sliderComprehension [options]="mySlideOptions">

    <ion-slide class="practice-slide">
      <button class="practice-exercise-figure">
        <div class="wordsGrid">
          <div class="word" *ngFor="let word of myAnswer; let i = index" id="{{i}}-answer" (click)="popAnswer(word.word, word.index, i)">
            <span *ngIf="i == 0" class="capitalize">{{word.word}}</span>
            <span *ngIf="i != 0">{{word.word}}</span>
          </div>
        </div>
      </button>
    </ion-slide>

  </ion-slides>


  <!--
    PALABRAS EN FORMA DE FICHAS PARA SELECCIONAR
  -->
  <div class="words">

    <button class="word" *ngFor="let word of myWords; let i = index">
      <span class="wordInner" id="{{i}}-question" [class.wordInnerAnimation]="index" (click)="pushAnswer(i, word)">{{word}}</span>
    </button>

  </div>
  </div>
  <!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    TERMINA EJERCICIO 4 PRACTICA 1
  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

</ion-content>


<!--<ion-footer class="ws_footer">
  <ion-icon class="footer_help"  ios="md-help-circle" md="md-help-circle" (click)="helpMenu()" (click)="showCueCard"></ion-icon>
  <button class="btn_transparent">Done</button>
  <button class="btn_send">Send</button>
</ion-footer>-->

<ion-footer class="ws_footer">
  <ion-icon class="footer_help"  ios="md-help-circle" md="md-help-circle" (click)="helpMenu()"></ion-icon>
  <button class="btn_transparent" *ngIf="btnDone" (click)="verifyExercise()">Done</button>

  <button class="btn_mic" *ngIf ="btnMic" (click)=shwStop()>
      <ion-icon ios="ios-mic" md="ios-mic"></ion-icon>
  </button>
  <button class="btn_play" *ngIf="btnPlay"(click)=shwPause()>
      <ion-icon ios="ios-play" md="ios-play"></ion-icon>
  </button>
  <button class="btn_pause"*ngIf="btnPause"(click)=shwPlay()>
      <ion-icon ios="ios-pause" md="ios-pause"></ion-icon>
  </button>
  <button class="btn_stop" *ngIf="btnStop"(click)=shwMic()>
      <ion-icon ios="md-square" md="md-square"></ion-icon>
  </button>
  <p class="menu_rec_time2" *ngIf="minSec">
      <!--{{min}}:{{sec}}-->
      <span *ngIf="min<10">0{{min}}</span>
      <span *ngIf="min>9">{{min}}</span>
      <span>:</span>      
      <span *ngIf="sec<10">0{{sec}}</span>
      <span *ngIf="sec>9">{{sec}}</span>
    </p>

</ion-footer>
