<ion-header>
  <ion-navbar>
    <ion-title>{{pageName}}</ion-title>
    <ion-buttons end>
      <button [navPush]="userProfile" ion-button icon-only class="toolbarUser">
        <ion-icon class="user"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="ws-bg">

  <div class="exercises_item"></div>

  <ul class="exercises_listPractice">
    <li *ngFor="let exercise of exercises" class="exercises_listPracticeItem" (click)="goToExercises(pageName, exercise.id)" ion-button clear>
      <div class="exercises_listPracticeItemText">
        Exercise {{exercise.id}}
        <span class="exercises_listPracticeItemSubtitle">{{exercise.title | slice:0:27}}<span *ngIf="exercise.title.length > 27">...</span></span>
        <div class="progressBar">
          <div class="active" [ngStyle]="{'width' : '0' + '%'}"></div>
        </div>
      </div>
    </li>
  </ul>

</ion-content>

<ion-footer>
  <div class="btnGroup">
    <button ion-button class="btnTest" [navPush]="quickTest" full><span class="quick-img"></span>&nbsp;Quick test</button>
    <button ion-button class="btnTest" [navPush]="finalTest" full><span class="final-img"></span>&nbsp;Final test</button>
  </div>
</ion-footer>
