<ion-header>

  <ion-navbar>
    <ion-title>quickTest</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="ws-bg">
  <!--
    AUDIO CENTRAL PARA LISTENING
  -->
  <div class="audioListening" *ngIf="listen">
    <button ion-button outline *ngIf="playBtn" round (click)="playAudio(linkAudioListening, 'play')">
      <ion-icon ios="ios-play"  md="ios-play"></ion-icon> 
      LISTEN {{ios}}
    </button>
    <button ion-button outline *ngIf="pauseBtn" round (click)="pauseAudio()">
      <ion-icon ios="ios-pause"  md="ios-pause"></ion-icon> 
      LISTEN {{ios}}
    </button>
  </div>

  <!--
    LISTADO DE AUDIOS PARA SELECCIÓN MULTIPLE
  -->
  <div class="list_audio_listening" *ngIf="listen">

    <!--
      AUDIO INDIVIDUAL
    -->
    <div class="audio" *ngFor="let statement of statements">
      <!--Botón play / pause-->
      <button class="audio_btn" *ngIf="titlePage == Listening">
        <ion-icon ios="ios-play" md="ios-play"></ion-icon>
      </button>
      <!--Nombre del audio-->
      <p class="audio_name">{{statement.name}}</p>
      <p class="audio_description">Audio {{audioListening+1}}</p>

      <button [ngClass]="['audio_answer', statement.answer]" (click)="response(statement.id)">
      </button>

      <div [ngClass]="['float-div', statement.class]">
        <div class="float-div-close" (click)="response(statement.id)">
          <ion-icon ios="md-close" md="md-close"></ion-icon>
        </div>
        <div class="answer" >
          <div class="answer-affirm" (click)="response(statement.id, 'a')"></div>
          <div class="answer-text">Affirm</div>          
        </div>
        <div class="answer">
          <div class="answer-negative" (click)="response(statement.id, 'n')"></div>
          <div class="answer-text">Negative</div> 
        </div>
        <div class="answer">
          <div class="answer-notStated" (click)="response(statement.id, 'ns')"></div>
          <div class="answer-text">Not stated</div> 
        </div>
      </div>

    </div>

  </div>

</ion-content>
