<ion-header>
  <ion-navbar class="toolbar-ws">
    <ion-title>Exercise {{title}}</ion-title>
    <ion-buttons end>
      <button [navPush]="userProfile" ion-button icon-only class="toolbarUser">
        <ion-icon class="user"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content >
  <h1 class="title">{{PageTitle}}</h1>
  
  <P class="description">
    {{description}}
    </P>
    <div *ngIf="ex1"> 
      <p class="itemsTitle">Use these tips to sound more natural and fluent:</p>
      <ul class="list">
        <li *ngFor="let item of itemlist" class="listItem">{{item}}</li>
      </ul>
    </div>
<div class="audioListening" *ngIf="audListening">
      <button ion-button outline  round (click)="playAudio()">
      <ion-icon ios="ios-play"  *ngIf ="playBtn" md="ios-play"></ion-icon> 
      <ion-icon ios="ios-pause" *ngIf ="pauseBtn" md="ios-pause"></ion-icon> 
      {{btnTxt}}
    </button>
</div>
  <div class="shadowText" *ngIf="shdwTxt">
        <ul class="list">
          <li class="item">Could you tell me...?</li>
          <li class="item">I’d like to know...</li>
          <li class="item">Do you know...?</li>
          <li class="item">Have you got any idea..?</li>
          <li class="item">Could anyone tell me..?</li>
          <li class="item">I wonder if you could tell me...</li>
        </ul>
    </div>

</ion-content>

<ion-footer>
    <button class="ws-full" (click)="goToPactices(title,PageTitle, practicesNumber)">Go to practice</button>
</ion-footer>