<ion-header>

  <ion-navbar class="toolbar-ws">
    <ion-title>Exercise {{numEx}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="toolbarUser">
        <ion-icon class="user"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!--
    Spinner para cargar el contenido
  -->
  <div class="loader" *ngIf="!contentLoad">
    <ion-spinner class="ws-loader blue"></ion-spinner>
  </div>

  <div class="contentLoad" *ngIf="contentLoad">

  <!--Botón flotante superior para volver a mostrar el icao Alphabet-->
  <button class="btnSlideOut" ion-button outline (click)="backTo()">{{buttonTxt}}</button>
  <!--Slides inteligentes-->
  <ion-slides class="slideLarge" [options]="pronunciationSlideOptions">
      <ion-slide class="slideLarge-slide" *ngFor="let A of array">      
        <button ion-button class="slideLarge-slide-button "(click)="goToPractice(numEx,item,A.name)">Practice {{A.name}}</button>        
    </ion-slide>      
  </ion-slides>
  
  </div>

</ion-content>
